#right-arrow {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

#left-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
}

.img {
    /* background-image: url("images/heart.png"),url("images/left-back.png"); */
    width: 110px;
    height: 80px;
    background-size: 10px 10px,contain;
    position: relative;
    /* transform: rotate(180deg); */
    /* position: absolute; */
    background-repeat: no-repeat;
    background-position: 6px center,0;
}

.chart .img {
    background-image: url(images/heart.png),url(images/left-back.png);
}

.img {
    font-size: 23px;
    text-align: center;
    /* vertical-align: bottom; */
    margin-top: 10px;
}

.word .img {
    transform: rotateY(180deg);
    background-image: url(images/left-back.png);
    width: 120px;
    /* height: 80px; */
    background-size: contain;
}

.word .img::after {/* content: 'aaa'; *//* transform: rotateY(180deg); */}

.word span {
    position: relative;
    bottom: 25px;
    left: 30px;
}

.word .img:after {/* content: '<img src="">'; */}

.chart .img div {
    /* background-image: url('images/2.png'); */
    /*background-position: 12px right,top left;*/
    width: 83px;
    height: 55px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /* margin-right: 0; */
}

.chart .img:nth-child(1) div {
    /* background-position: 1px 11px; */
}

.chart .img:nth-child(2) div {
    /* background-position: -80px 11px; */
}
.chart .img:nth-child(3) div {
    /* background-position: -160px 11px; */
}
.chart .img:nth-child(4) div {
    /* background-position: -77px -44px; */
}
.chart .img:nth-child(5) div {
    /* background-position: -147px -53px; */
}

img>div {
}

.img img {
    width: 45px;
    height: 45px;
    position: absolute;
    /* right: 15px; */
    top: 10px;
}

img {}

#middle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.left {
    float: left;
    /* position: relative; */
}

.word.left {
    margin-left: 100px;
    /* transform: rotate(180deg); */
}
.word>div:nth-child(2n) {
    position: absolute;
    z-index: 2;
    transform: translate(27px,-70px);
    text-align: center;
    width: 53px;
    height: 53px;
    /* vertical-align: bottom; */
}

.word>div:nth-child(2n) img {
    width: 40px;
}

.sound {
    animation-duration: 1s;
    /*animation-iteration-count: 7;*/
    animation-name: sound;
    animation-timing-function: step-end;
}
@keyframes sound {
    50% {
        background-image: url("images/1110002.png");
    }
    100% {
        background-image: url("images/1110003.png");
    }
}

.word>div:nth-child(2n) div {
    /* position: relative; */
    /* bottom: 9px; */
    margin-top: 97%;
}