h1{
    font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
    background: url(star.png) no-repeat;
    padding-left: 40px;
}
article{
    background: url(trumpet.png) no-repeat 94% 90%,url(bg.png) no-repeat;
    width: 21%;
    height: 162px;
    display: inline-block;
    background-size: 31px 31px,contain;
}
footer{
    background: url(go.png) no-repeat;
    width: 60px;
    height:60px;
    /* float: right; */
    transform: translateY(-100%);
    position: absolute;
    left: 84%;
}
article img{
    width: 150px;
    transform: translateY(17px);
}
strong{
    position:relative;
    left: 70px;
    top: -4px;
}
i{
    color:red;
}