h1{
    font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
    background: url(star.png) no-repeat;
    padding-left: 40px;
}
article{
    background: url(bg.png) no-repeat;
    width: 21%;
    height: 162px;
    display: inline-block;
    background-size: contain;
    position: relative;
}
footer{
    background: url(go.png) no-repeat;
    width: 60px;
    height:60px;
    /* float: right; */
    transform: translateY(-100%);
    position: absolute;
    left: 84%;
}
article .img{
    width: 150px;
    transform: translateY(17px);
}
strong{
    position:relative;
    left: 70px;
    top: -4px;
}
i{
    color:red;
}
.trumpet{
    position: absolute;
    background: url(trumpet.png) no-repeat;
    width: 31px;
    height: 31px;
    right: 6%;
    bottom: 8%;
    background-size: contain;
}
.sound {
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-name: sound;
    animation-timing-function: linear;
}

@keyframes sound {
    50% {
        background-image: url("00002.png");
    }
    100% {
        background-image: url("00003.png");
    }
}

.frog {
    position: absolute;
    transform: translateY(-70%);
}
section{
    position: relative;
}
.section-frog{
    position: absolute;
    width: 40px;
}